@font-face {
  font-family: 'sukhumvit_setbold';
  src: url('../fonts/sukhumvitset-bold-webfont.woff2') format('woff2'), 
  url('../fonts/sukhumvitset-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_setlight';
  src: url('../fonts/sukhumvitset-light-webfont.woff2') format('woff2'), 
  url('../fonts/sukhumvitset-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_setmedium';
  src: url('../fonts/sukhumvitset-medium-webfont.woff2') format('woff2'), 
  url('../fonts/sukhumvitset-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_setsemi_bold';
  src: url('../fonts/sukhumvitset-semibold-webfont.woff2') format('woff2'),
   url('../fonts/sukhumvitset-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_settext';
  src: url('../fonts/sukhumvitset-text-webfont.woff2') format('woff2'), 
  url('../fonts/sukhumvitset-text-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'sukhumvit_setthin';
  src: url('../fonts/sukhumvitset-thin-webfont.woff2') format('woff2'), 
  url('../fonts/sukhumvitset-thin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.page h1, h2, h3, h4, h5, p, a, button{
  font-family: 'sukhumvit_settext';
}
.table tr{
  font-family: 'sukhumvit_settext';
}
.panel-heading .panel-title{
  font-size: 2rem;
}

.img-res{
  width: 50%;
  margin-bottom: 3rem;
}
.panel-body h4 strong{
  font-family: 'sukhumvit_setbold';
  font-size: 19px;
}